@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-image: linear-gradient(#FF068D, #fff);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}